*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family:"Poppins",sans-serif;
    font-size: 18px;
}
body{
    background: rgb(201, 252, 240);
}
.container{
    display: flex;
    
}
.logo span{
    font-weight: bold;
    padding-left: 15px;
    
}
.logo{
    text-align: center;
    display: flex;
    margin: 15px 15px;
}
nav{
    background: rgb(201, 242, 248);
    width: 280px;
    box-shadow: 0 20px 30px rgb(0,0,0,0.2);
    overflow: hidden;
    height: 100vh;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
}
a{
    position: relative;
    font-size: 16px;
    color: rgb(85, 83, 83);
    display: table;
    width: 280px;
    padding: 10px;
}
.nav-iteam:hover{
    background: white;
    cursor: pointer;

}
.logout{
    position: absolute;
    bottom: 0;
}
nav .fa{
    position: relative;
    width: 70px;
    height: 40px;
    top: 5px;
    text-align: center;
    font-size: 20px;
}

/* side boxes */
.main{
    
    position: relative;
    padding: 20px;
    width: 100%;
}
.main-top{
    display: flex;
    right: 0;
    width: 100%;
}
.card{
    width: 25%;
    margin: 10px;
    background: whitesmoke;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 20px 35px rgb(0,0,0,0.2);
}
.card h3{
    text-transform: capitalize;
    margin: 10px;
}
.words{
    font-size: small;
}
.check{
    color: white;
    padding: 7px 15px;
    background: orangered;
    border-radius: 4px;
    box-shadow: 0 4px 4px rgb(0, 0, 0,0.4);
    font-size: 17px;
}
.check:hover{
    background:whitesmoke;
    color: orangered;
    cursor:pointer;
}
.main-skills{
    display: flex;
    margin-top: 20px;
    padding: 2px;
}


.lists{
    margin-top: 20px;
    text-transform: capitalize;
}
.att{
    width: 100%;
    background: white;
    box-shadow: 0 20px 35px rgb(0,0,0,0.2);
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.table{
    border-collapse: separate;
    overflow: hidden;
    font-size: 17px;
    width: 100%;
    margin: 15px 0;
}

table thead tr{
    color: aliceblue;
    background: rgb(4, 49, 133);
    text-align: left;
    font-weight: bold;
}
.table th,.table td{
    padding: 10px 12px;
}
.table tbody tr{
    border-bottom: 1px solid #ddd;
}


.table tbody tr:nth-of-type(even){
    background:wheat;
}
.table tbody tr.active{
    font-weight: bold;
    color: aqua;
}
.table tbody tr:last-of-type{
    border-bottom: 2px solid #4ad489;
}

